# Secrets
.env
.env.*
config.py

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual Environments
venv/
.venv/
env/
ENV/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Build & Distribution
build/
dist/
*.egg-info/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Test & Cache
.pytest_cache/
.mypy_cache/
.cache/

# Coverage
.coverage
htmlcov/

# Temporary files
*.tmp
*.temp